body {
	--color-gray: #eee;
	--color-green: rgb(34,139,34);
	--color-ltgreen: #c2f0c2;
	font-size: 16px;
}

i {
	color: var(--color-green); 
}

.container {
	background-color: #ffffff;
}

.card-footer {
	border-radius: 5px;
	height: 5vh;
	text-align: center;
}

.contact,
.utensils {
	background-color: var(--color-ltgreen);
}

.fab:not(:last-child) {
	margin-bottom: 2vh; /* Puts some spacing between social media links */
}

.far {
	color: #000;
	padding-right: 0.5vh; /* adds space between copyright logo and name at the footer */
}

.fab,
.fas {
	padding-left: 5%; /* pushes content away from the left margin */
	padding-top: 6%;
}

.nav-links:hover {
	background-color: var(--color-gray);
}

.fas > h1 {
	font-size: 3rem; /* Increases the size of the navigation text */
}

.food-img {
	border-radius: 5%;
	width: 100%;
}

.food-img:hover { /* adds effects when hovering over the 500*500 images */
	border: 1px solid blue;
	border-radius: 5%;
}

.food1,
.food2,
.food3,
.food4 {
	padding: 1%; /* Adds a little padding around the images so the border shows a little better */
}

.nav-links {
	font-family: 'Pompiere', cursive; /* adds custom font to the nav links */
}

.nc3{ /* gives the last column containing the 4 posts some space */
	margin: 1vh;
	padding: 2vh;
}

.nnc1 > p,
.nnc2 > p,
.nnc3 > p,
.nnc4 > p {
	font-size: 0.95rem; /* Makes paragraphs under post slightly smaller */
}

@media only screen and (max-width: 5000px) { /* desktop */

	.titleImg {
		width: 100%; /* makes the burrito image stretch to fit is column */
	}
}

@media only screen and (max-width: 1000px) { /* tablet */

	.fas > h1 {
	font-size: 2.2rem; /* slightly shrinks the nav-links text */
}

	.nnc1,
	.nnc2 {
		margin-bottom: 5%; /* Adds space between post1,2 and post3,4 */
	}
}

@media only screen and (max-width: 767px) { /* phone */
	.food-img {
		width: 50%; /* makes the 500*500 image half its original size */
	}

	.titleImg {
		display: none; /* Gets rid of burrito photo */ 
	}

	.fab,
	.fas {	/* these will help shrink the nav so it doesn't take up the whole landing */
		padding-left: 2%;
		padding-top: 2%;
	}

	.nnc1,
	.nnc2,
	.nnc3 {
		margin-bottom: 15%; /* Adds space to the bottom of each Post */
	}

	img {
		margin-left: 25%; /* centers image */
	}
	
}
